
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  color: #333;
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
}

.hero {
  background: #fcd1a7 url('./images/hero.jpg') no-repeat center;
  background-size: 151%;
  background-position: 32.75% 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6rem 2rem;
  height: 100vh;
  position: relative;
}

.hero-content {
  max-width: 42%;
  z-index: 1;
  color: #fff;
  text-align: right;
  margin-right: 3.5rem;
  margin-bottom: 9rem;
}

.hero-title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.hero-button {
  padding: 0.65rem 2.5rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.carousel-wrapper {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}


.slick-list {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slick-track {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}


.carousel-item {
  flex: 0 0 auto;
  width: 607px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}

.carousel-image {
  width: 577px;
  height: 577px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.carousel-text {
  margin-top: 1rem;
}

.carousel-text p {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
}


.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  font-size: 2rem;
  user-select: none;
}


.featured-products {
  text-align: center;
  padding: 4rem 2rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 66px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  color: #000;
  max-width: 425px;
  height: auto;
  text-decoration: none;
}

.product-image {
  height: 400px;
  background-size: cover;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 8px;
}

.product-text {
  margin-top: 1rem;
}

.product-text p {
  width: auto;
  max-width: 100%;
  text-transform: uppercase;
  color: #000;
}

.product-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
